<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <div class="w3-card-2 w3-left" style="padding: 5px; margin: 10px; width: 600px">
        <div class="w3-panel w3-light-grey w3-border w3-round w3-center w3-rightbar w3-leftbar">
            <span wicket:id="messageLabel" class="w3-left-align"></span>
        </div>

        <div class="w3-panel w3-light-grey w3-border w3-round w3-center">
            <span wicket:id="riddleDescription" class="w3-left-align"></span>
        </div>

        <form wicket:id="riddleForm">
            <div class="w3-container">
                <label class="w3-text-grey">Lösung</label>
                <input type="text" wicket:id="solutionInput" class="w3-input w3-border"/>
                <input type="button" wicket:id="showHintDialog" class="w3-button w3-light-grey w3-left"
                       style="margin: 10px 0 5px 0;" value="Hinweise anzeigen"/>
                <input type="button" wicket:id="checkRiddleButton" class="w3-button w3-green w3-right"
                       style="margin: 10px 0 5px 0;" value="Lösung überprüfen"/>
            </div>
        </form>
    </div>
</wicket:panel>
</body>
</html>