<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wicket:panel>
    <div class="riddleContent">
        <span wicket:id="messageLabel"></span>
        <span wicket:id="riddleDescription"></span>
        <form wicket:id="riddleForm">
            <input type="text" wicket:id="solutionInput"/>
            <input type="button" wicket:id="checkRiddleButton">
        </form>
    </div>
</wicket:panel>
</body>
</html>